{% extends 'base.html.twig' %}

{% block body %}
<div class="cell">
    <a href="{{ path('create_training_type') }}">Neue Trainingsart</a>
    <a href="{{ path('list_training_types') }}">Trainingsarten anzeigen</a>
    <a href="{{ path('list_users') }}">Benutzerverwaltung</a>
    <a href="{{ path('create_training') }}">Neues Training</a>
</div>
{% endblock %}
